
.App-header{
  background-color: #282c34;
  display: grid;
  grid-template-columns:2fr 1fr 1fr .5fr .5fr ;

  align-items: center;
}
.App-header h1{
  margin-left: 1%;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}
.nav-container{
  background-color: #323740;
  height: 50px;

}

button{
  width: 100px;
  height: 50px;
  font-weight: 900;
}
 button:hover{
  background-color: #000;
  color:#fff;
}
.App-header input{
  height: 40px;
}
.intro-container{
  margin:0;
  width: 100%;
  height: 65vh;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  background-image: url("./assest/colorful-shopping-bags.jpg") ;
  background-size: contain;
  background-repeat: no-repeat;
  gap:1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: rgb(212 213 217);

}
.intro-img{
  margin: 30px;
  background-image: url("./assest/Intro.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.intro-content{
 
  padding: 50px 20px;
  text-align: left;

  margin: 20px;
  border-radius: 8px;
  padding: 50px;
}

.intro-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}
.intro-content p{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 0;
}
.intro-content .btn{
  width: 50%;
  background-color: green;
  height: 7vh;
  color: #fff;
  font-weight:600 ;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
}
.intro-content .btn:hover{
  background-color: rgb(4, 53, 4);
}

.product-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr );
  justify-content: center;
  gap:50px;

}

.product-card {

  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid rgba(90, 4, 4, 0.684);
  transition: all ease-in-out 0.5s;
  align-items: center;
  padding: 5px;
  text-align: left;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 13px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
}
.product-card:hover {
  width: 100%;
}

.product-card img {
  width: 100%;
  height: auto;
}
 .btn-wrapper{
  margin-top: 18px;
}
.product-card button{

  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}
.footer{
  background-color: #282c34;
  height: 50px;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  align-items: center;
  padding-top: 20px;
  font-size: 1rem
}
table{
  border: 2px solid rgba(90, 4, 4, 0.684);
  padding: 5px;
  margin: 5px;
}
table img{
  border: 2px solid rgba(90, 4, 4, 0.684);
  padding: 5px;
}